.btn-light {
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-light:hover {
    border: 1px;
    border-style: solid !important;
    border-color: grey !important;
    background-color: lightgray !important;
}

.profile-pict {
    height: 100px !important;
    width: 100px !important;
    object-fit: cover;
}